body {
    background-image: url("../midia/FundoPag.jpg");
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, #6495ED, #836FFF);
}

.main {
    background-color: lightblue;
    width: 55%;
    color: rgb(255, 255, 255);
    font-size: large;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 13%;
    margin-bottom: 1%;
    padding-top: 20%;
    text-align: center;
    padding: 100px;
}


.sidebar {
    right: 0;
    top: 35px;
    width: 25%;
    position: absolute;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    background-color: lightblue;
    color: rgb(255, 255, 255);
    margin-top: 13%;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 40px;
}

p1 {
    color: rgb(0, 0, 0);
    text-align: justify;
}